<footer class="footer">
    <div class="text-center">
        <small class="copyright">This page was designed using NodeJS, Express, and Mustache by Bikash Thapa. &copy 2020</small>
    </div>
</footer>
