<title>{{page.firstName}} {{page.lastName}} | Resume</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is my resume website. There are many like it, but this one is mine.">
<meta name="author" content="John Kennedy">

<link href="https://lh3.googleusercontent.com/PwZlttQmUMASdBXVIAqY7KzEqGnB8ClS35UIyPMsKYS76_CtUxNhot-O7Pqcp4yCeNEBeiv8s3f4ZrUSk21LCgpwt8E=s32-c" rel="shortcut icon">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/orbit-1.css" id="theme-style" rel="stylesheet">
